.live{
    margin-top: 12%;
    display: flex;
    gap: 5%;
}

.depa{
    display: flex;
    justify-content: center;
}
.trai{
    height: 5px;
    width: 90px;
    background: #e3b350;
}

.living{
    height: 450px;
    width: 500px;
}

.living img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.car{
    height: 50px;
    width: 80px;
    background-color: #e3b350;
}

.loi{
    display: flex;
}


.leur{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 38px;
}

.ico{
    color: white;
    margin-left: 20px;
    margin-top: 20px;
}