.card {
  margin-top: 35px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 10px;
}

.content {
  display: grid;
  grid-template-columns: 2fr 3fr 3fr;
  justify-items: end;
  margin-top: 35px;
}
.carre {
  height: 380px;
  width: 339px;
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
}

.carre h4,
p {
  margin-top: 15px;
}

.carreer {
  height: 480px;
  width: 439px;
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 40px -8px rgba(5, 46, 80, 0.3);
  border-radius: 5px;
}
.carreer h4 {
  margin-top: 15px;
}
.carreer p {
  text-align: center;
}

.carre3 {
  height: 250px;
  width: 231px;
  /* border: 1px solid black; */
  margin-left: 15px;
  margin-top: 5px;
  background-color: #e3e0e0ed;
  margin-top: 15%;
}
.carre h4 {
  text-align: center;
}
.carre p {
  text-align: center;
  margin-top: 5px;
}
.carre1 {
  height: 268px;
  width: 247px;
  /* border: 1px solid red; */
  display: flex;
  background-color: #e3e0e0ed;
}

.carre2 {
  height: 250px;
  width: 231px;
  /* border: 1px solid black; */
  margin-left: 15px;
  margin-top: 5px;
}

.carre2 img {
  height: 100%;
  width: 100%;
}

.teste h1 {
  text-align: center;
}

.outils {
  margin-top: 105px;
}

.divers {
  display: grid;
  grid-template-columns: 2fr 3fr 3fr;
  justify-items: end;
  margin-top: 35px;
  gap: 3%;
}

.text {
  text-align: center;
}

.passe {
  height: 350px;
  width: 394px;
}

.passe1 {
  height: 350px;
  width: 394px;
  margin-top: 15px;
}
.pass {
  height: 210px;
  width: 250px;
}
.pass img {
  height: 100%;
  width: 100%;
}
.bttn {
  padding: 1rem 1rem;
  background: #e3b350;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
@media screen and (max-width: 977px) {
  .content {
    display: grid;
    grid-template-columns: 2fr 3fr;
  }
}

@media screen and (max-width: 674px) {
  .content {
    display: grid;
    grid-template-columns: 2fr;
  }
}

@media screen and (max-width: 977px) {
  .divers {
    display: grid;
    grid-template-columns: 2fr 3fr;
  }
}

@media screen and (max-width: 674px) {
  .divers {
    display: grid;
    grid-template-columns: 2fr;
  }
}

@media screen and (max-width: 950px) {
  .carreer {
    display: none;
  }
}
